:80

root * /usr/share/caddy
file_server

handle /api/* {
    reverse_proxy https://n8n.chilldigital.tech {
        rewrite /api/* /webhook/*
        header_up Host n8n.chilldigital.tech
    }
}

try_files {path} /index.html
