:80

root * /usr/share/caddy
file_server

reverse_proxy /api/* https://n8n.chilldigital.tech {
    uri strip_prefix /api
    uri prepend /webhook
    header_up Host {upstream_hostport}
}

try_files {path} /index.html
